.advantages__body {
  display: flex;
  justify-content: center;
}

.advantages__column {
  text-align: center;
  width: 25%;
  @extend %fs-big;
  &:not(:last-child) {
    margin-right: 16px;
  }
  svg {
    fill: $blue;
    width: 100px;
    height: 100px;
  }
  p {
    margin-top: 44px;
  }
}
