.advantages__body {
  @extend %flex-element-center;
}

.advantages__column {
  text-align: center;
  width: 25%;
  @extend %fs-big;

  &:not(:last-child) {
    margin-right: 16px;
  }
  svg {
    fill: #3077C6;
    width: 100px;
    height: 100px;
  }
  p {
    margin-top: 44px;
  }
}
