.homes {
  background-color: $lightBlue;
}

.homes__body {
  display: flex;
  position: relative;
}

.homes__column {
  width: 25%;
  margin-right: 16px;
  @extend %fs-big;
  &:nth-child(4) {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  p {
    margin-top: 24px;
    color: $blue;
    &:last-child {
      color:$gray;
    }
  }
}

.arrow-icon {
  width: 9px;
  height: 21px;
  stroke: $black;
}