.reviews__body {
  display: flex;
}

.reviews__column {
  background-color: $lightBlue;
  width: 33.3%;
  @extend %fs-little;
  &:not(:last-child) {
    margin-right: 16px;
  }

  img {
    display: block;
    width: 100%;
    &:hover + .cost{
      display: block;
    }
  }
}

.cost {
  display: none;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  color: $white;
  padding: 16px 24px 11px 24px;
}

.column__items {
  padding: 25px;
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  .hotel-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .hotel-location {
      margin-right: 16px;

      p {
        color: $blue;
        &:first-child {
          font-weight: 500;
        }
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
    .evaluation {
      display: flex;
      flex-direction: column;
      align-items: end;

      button {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        background-color: $darkBlue;
        color: $white;
        padding: 4px 11px;
        border-radius: 8px;
        margin-bottom: 8px;
        transition: .2s ease;
        &:hover {
          background-color: #18559a;
        }
        &:active {
          background-color: #082a69;
        }
      }

      p {
        color: $gray;
        text-align: right;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .user {
    display: flex;
    margin-bottom: 19px;
    padding: 5px;

    .user-icon {
      width: 53px;
      height: 53px;
      fill: #BFBFBF;
      margin-right: 21px;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p:not(:last-child) {
        margin-bottom: 8px;
      }
      .user-location {
        display: flex;
        align-items: center;
        .flag {
          width: 20px;
          height: 12px;
          margin-right: 5px;
        }
        p {
          color:$gray;
        }
      }
    }
  }
}

.vertical-slider {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 4px #0000003F;
}




