section.advantages
    ._bounding-container
        h2.advantages__title What do we offer
        .advantages__body
            .advantages__column.col-3
                svg.advantages__icon
                    use(href="./img/sprite.svg#headphones-icon")
                p.advantages__text Support 24/7
            .advantages__column.col-3
                svg.advantages__icon
                    use(href="./img/sprite.svg#message-icon")
                p.advantages__text Communicate directly
            .advantages__column.col-3
                svg.advantages__icon
                    use(href="./img/sprite.svg#library-icon")
                p.advantages__text Book online
            .advantages__column.col-3
                svg.advantages__icon
                    use(href="./img/sprite.svg#thumb-up-icon")
                p.advantages__text Real guest reviews