section.destinations
    ._bounding-container
        h2 The best destinations
        .destinations__buttons
            button Regions
            button Cities
            button Places of interest
        .destinations__body

            .destinations__column
                ._image-container
                    img(src="img/destinations/maldives.png" alt="Maldives picture")
                    ._blackout-container
                        button.reservation-button Book now
                p Maldives

            .destinations__column
                ._image-container
                    img(src="img/destinations/spain.png" alt="Spain picture")
                    ._blackout-container
                        button.reservation-button Book now
                    button.vertical-slider.slider.remove-md
                        svg.arrow-icon
                            use(href="./img/sprite.svg#arrow-icon")
                p Spain

            .destinations__column
                ._image-container
                    img(src="img/destinations/norway.png" alt="Norway picture")
                    ._blackout-container
                        button.reservation-button Book now
                p Norway

            .destinations__column
                ._image-container
                    img(src="img/destinations/island.png" alt="Island picture")
                    ._blackout-container
                        button.reservation-button Book now
                p Island

        ._slider-container
            button.destinations-slider.slider
                svg.arrow-icon
                    use(href="./img/sprite.svg#arrow-icon")

