section.destinations
    ._bounding-container
        h2.destinations__title The best destinations
        .destinations__buttons
            button.destinations__buttons Regions
            button.destinations__buttons Cities
            button.destinations__buttons Places of interest
        .destinations__body
            .destinations__column.col-3
                ._image-container
                    img(src="img/destinations/maldives.png" alt="Maldives picture")
                    .-blackout
                        button.reservation-button.-blue-text Book now
                p.destinations__text.-blue-text Maldives
            .destinations__column.col-3
                ._image-container
                    img(src="img/destinations/spain.png" alt="Spain picture")
                    .-blackout
                        button.reservation-button.-blue-text Book now
                p.destinations__text.-blue-text Spain
            .destinations__column.col-3
                ._image-container
                    img(src="img/destinations/norway.png" alt="Norway picture")
                    .-blackout
                        button.reservation-button.-blue-text Book now
                p.destinations__text.-blue-text Norway
            .destinations__column.col-3
                ._image-container
                    img(src="img/destinations/island.png" alt="Island picture")
                    .-blackout
                        button.reservation-button.-blue-text Book now
                p.destinations__text.-blue-text Island
        ._slider-container
            button.destinations-slider.slider
                svg.arrow-icon
                    use(href="./img/sprite.svg#arrow-icon")

