._bounding-container

    a(href="#")
        svg.footer__triphouse-logo
            use(href="./img/sprite.svg#triphouse-logo")

    .footer__body

        ul.footer__column
            li
                a.-bold-text(href="#") About
            li
                a(href="#") How Triphouse works
            li
                a(href="#") Careers
            li
                a(href="#") Privacy
            li
                a(href="#") Terms

        ul.footer__column
            li
                a.-bold-text(href="#") Property types
            li
                a(href="#") Guest houses
            li
                a(href="#") Hotels
            li
                a(href="#") Apartments
            li
                a(href="#") Villas
            li
                a(href="#") Holiday homes
            li
                a(href="#") Hostels

        ul.footer__column
            li
                a.-bold-text(href="#") Support
            li
                a(href="#") Contact Customer Service
            li
                a(href="#") FAQ

    p.copyright &copy; 2020 Triphouse, Inc. All rights reserved
