section.homes.-light-blue-bc
    ._bounding-container
        h2.homes__title Homes guests loves
        .homes__body
            .homes__column.col-3
                img(src="img/homes/russia-home.png" alt="House in Russia")
                p.homes__text.-blue-text Hotel Leopold
                p.homes__text.-gray-text Saint Petersburg, Russia
            .homes__column.col-3
                img(src="img/homes/spain-home.png" alt="House in Spain")
                p.homes__text.-blue-text Apartment Sunshine
                p.homes__text.-gray-text Santa  Cruz de Tenerife, Spain
            .homes__column.col-3.invisible
                img(src="img/homes/slowakia-home.png" alt="House in Slowakia")
                p.homes__text.-blue-text Villa Kunerad
                p.homes__text.-gray-text Vysokie Tatry, Slowakia
            .homes__column.col-3.invisible
                img(src="img/homes/germany-home.png" alt="House in Germany")
                p.homes__text.-blue-text Hostel Friendship
                p.homes__text.-gray-text Berlin, Germany
            button.home-slider.slider
                svg.arrow-icon
                    use(href="./img/sprite.svg#arrow-icon")