section.homes
    ._bounding-container
        h2 Homes guests loves
        .homes__body
            .homes__column
                img(src="img/homes/russia-home.png" alt="House in Russia")
                p Hotel Leopold
                p Saint Petersburg, Russia
            .homes__column
                ._image-container
                    button.vertical-slider-sm.slider.remove-md
                        svg.arrow-icon
                            use(href="./img/sprite.svg#arrow-icon")
                    img(src="img/homes/spain-home.png" alt="House in Spain")
                p Apartment Sunshine
                p Santa  Cruz de Tenerife, Spain
            .homes__column
                img(src="img/homes/slowakia-home.png" alt="House in Slowakia")
                p Villa Kunerad
                p Vysokie Tatry, Slowakia
            .homes__column
                ._image-container
                    button.vertical-slider.slider
                        svg.arrow-icon
                            use(href="./img/sprite.svg#arrow-icon")
                    img(src="img/homes/germany-home.png" alt="House in Germany")
                p Hostel Friendship
                p Berlin, Germany
