doctype html
head
  meta(charset='UTF-8')
  link(rel="stylesheet" href="./style/style.css")
  title TripHouse
body
  header.header
    include header
  main
    include advantages
    include homes
    include destinations
    include sign-up
    include reviews
  footer.footer
    include footer