section.reviews
    ._bounding-container
        h2 Guests reviews
        .reviews__body
            .reviews__column.col-4
                ._image-container
                    img(src="img/reviews/bali.png" alt="Ubud Bali Resort&SPA")
                    p.cost From 250 USD
                .column__items
                    .hotel-info
                        .hotel-location
                            p.-bold-text.-blue-text Ubud Bali Resort&SPA
                            p.-blue-text Bali, Indonesia
                        .evaluation
                            button.review-rating.-bold-text 9,4
                            p.review-count.-gray-text 1324 reviews
                    .user
                        svg.user-icon
                            use(href="./img/sprite.svg#account-icon")
                        .user-info
                            p.user-name.-black-light-text Hanna Ivanova
                            .user-location
                                svg.flag
                                    use(href="./img/sprite.svg#ua-flag")
                                p.-gray-text Ukraine
                    p.user-comment.-black-light-text Great location, really pleasant and clean rooms, but the thing that makes this such a good place to stay are the staff.
                        |All of the people are incredibly helpful and generous with their time and advice.

            .reviews__column.col-4
                ._image-container
                    img(src="img/reviews/rotterdam.png" alt="King Kong Hostel")
                    p.cost From 40 USD
                .column__items
                    .hotel-info
                        .hotel-location
                            p.-bold-text.-blue-text King Kong Hostel
                            p.-blue-text Rotterdam, Netherlands
                        .evaluation
                            button.review-rating.-bold-text 8,9
                            p.review-count.-gray-text 2016 reviews
                    .user
                        svg.user-icon
                            use(href="./img/sprite.svg#account-icon")
                        .user-info
                            p.user-name.-black-light-text Adam Smith
                            .user-location
                                svg.flag
                                    use(href="./img/sprite.svg#usa-flag")
                                p.-gray-text USA
                    p.user-comment.-black-light-text I've been in this hostel for a month and here is the best hostel of all <br>
                        |Excellent management of excellent and ethical staff and bedrooms Bathrooms are always clean and excellent
                        br
                        |Most importantly, those who work here are kind and good-natured.

            .reviews__column.col-4
                ._image-container
                    img(src="img/reviews/ourika.png" alt="Rokoko Hotel")
                    p.cost From 100 USD
                    button.review-slider.slider
                        svg.arrow-icon
                            use(href="./img/sprite.svg#arrow-icon")
                .column__items
                    .hotel-info
                        .hotel-location
                            p.-bold-text.-blue-text Rokoko Hotel
                            p.-blue-text Ourika, Marocco
                        .evaluation
                            button.review-rating.-bold-text 9,1
                            p.review-count.-gray-text 815 reviews
                    .user
                        svg.user-icon
                            use(href="./img/sprite.svg#account-icon")
                        .user-info
                            p.user-name.-black-light-text Anika Messer
                            .user-location
                                svg.flag
                                    use(href="./img/sprite.svg#de-flag")
                                p.-gray-text Germany
                    p.user-comment.-black-light-text Efficient, friendly, professional, and appropriately attentive.
                        |Great hotel in a great location. Easy access to all the surrounding historical sites.
                        |Staff is fantastic. Will definitely stay at this location during my next stay in Marocco.