section.reviews
    ._bounding-container
        h2 Guests reviews
        .reviews__body
            .reviews__column
                ._image-container
                    img(src="img/reviews/bali.png" alt="Ubud Bali Resort&SPA")
                    p.cost From 250 USD
                .column__items
                    .hotel-info
                        .hotel-location
                            p Ubud Bali Resort&SPA
                            p Bali, Indonesia
                        .evaluation
                            button 9,4
                            p 1324 reviews
                    .user
                        svg.user-icon
                            use(href="./img/sprite.svg#account-icon")
                        .user-info
                            p Hanna Ivanova
                            .user-location
                                svg.flag
                                    use(href="./img/sprite.svg#ua-flag")
                                p Ukraine
                    p Great location, really pleasant and clean rooms, but the thing that makes this such a good place to stay are the staff.
                        |All of the people are incredibly helpful and generous with their time and advice.

            .reviews__column.remove-xs
                ._image-container
                    img(src="img/reviews/rotterdam.png" alt="King Kong Hostel")
                    p.cost From 40 USD
                .column__items
                    .hotel-info
                        .hotel-location
                            p King Kong Hostel
                            p Rotterdam, Netherlands
                        .evaluation
                            button 8,9
                            p 2016 reviews
                    .user
                        svg.user-icon
                            use(href="./img/sprite.svg#account-icon")
                        .user-info
                            p Adam Smith
                            .user-location
                                svg.flag
                                    use(href="./img/sprite.svg#usa-flag")
                                p USA
                    p I've been in this hostel for a month and here is the best hostel of all <br>
                        |Excellent management of excellent and ethical staff and bedrooms Bathrooms are always clean and excellent
                        br
                        |Most importantly, those who work here are kind and good-natured.

            .reviews__column.remove-sm
                ._image-container
                    img(src="img/reviews/ourika.png" alt="Rokoko Hotel")
                    p.cost From 100 USD
                    button.vertical-slider.slider
                        svg.arrow-icon
                            use(href="./img/sprite.svg#arrow-icon")
                .column__items
                    .hotel-info
                        .hotel-location
                            p Rokoko Hotel
                            p Ourika, Marocco
                        .evaluation
                            button 9,1
                            p 815 reviews
                    .user
                        svg.user-icon
                            use(href="./img/sprite.svg#account-icon")
                        .user-info
                            p Anika Messer
                            .user-location
                                svg.flag
                                    use(href="./img/sprite.svg#de-flag")
                                p Germany
                    p Efficient, friendly, professional, and appropriately attentive.
                        |&#32;Great hotel in a <br> great location. Easy access to all the surrounding historical sites.
                        |Staff is fantastic. Will definitely stay at this location during my next stay in Marocco.
        .review__nav.remove-md
            .review__nav_ellipse.-light-black-bc
            .review__nav_ellipse
            .review__nav_ellipse.remove-sm.visible
            .review__nav_ellipse.remove-sm.visible