section.sign-up.-light-blue-bc
    .sign-up__body
        .sign-up__circle
            svg.sign-up-icon
                use(href="./img/sprite.svg#sign-up-icon")
        .sign-up__logo-container.sign-up__sm
            a(href="#")
                svg.sign-up__triphouse-logo
                    use(href="./img/sprite.svg#triphouse-logo")
        .sign-up__items.sign-up__sm
            p.sign-up__text
                |Sign up
                span.sing-up__invisible.remove-md  in the app
                | and get 20% off your first booking
            button.sign-up__button.-blue-text Sign up
        a.sign-up__install(href="#") Install
        svg.close-button
            use(href="./img/sprite.svg#close-icon")