section.sign-up
    .sign-up__body
        .sign-up__icon
            svg
                use(href="./img/sprite.svg#sign-up-icon")
        .sign-up__triphouse-logo
            a(href="#")
                svg
                    use(href="./img/sprite.svg#triphouse-logo")
        .sign-up__items
            p
                |Sign up&#32
                span.remove-md in the app
                | and get 20% off your first booking
            button Sign up
        a.remove-md(href="#") Install
        svg.close-button
            use(href="./img/sprite.svg#close-icon")