@import "fonts.css";

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*------ reset styles -------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:none;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

/*------ main settings ------------*/

._bounding-container {
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

._image-container {
    position: relative;
}

._slider-container {
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #F3F3F4;
    border-radius: 50%;
}

/*------ modifiers --------*/

.-bold-text {
    font-weight: 500;
}

.-blue-text {
    color: #3077C6;
}

.-gray-text {
    color: #BFBFBF;
}

.-blackout {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/*------ advantages-section --------*/

.advantages {
    padding: 120px 0;
}

.advantages__header {
   text-align: center;
   margin: 0 0 80px 0;
}

.advantages__title {
    margin: 0 0 20px 0;
}

.advantages__orange-line {
    width: 100px;
    height: 4px;
    margin: 0 auto;
    background-color:#F5BD41;
}

.advantages__body {
    display: flex;
    justify-content: center;
}

.advantages__column {
    text-align: center;
    width: 25%;
}

.advantages__column:not(:last-child) {
    margin: 0 16px 0 0;
}

.advantages__text {
    font-size: 24px;
    line-height: 28px;
    margin: 44px 0 0 0;
}

/*------ homes-section --------*/

.homes {
    padding: 120px 0;
    background-color: #EAF0F9;
}

.homes__title {
    text-align: center;
    margin: 0 0 106px 0;
}

.homes__body {
    display: flex;
    position: relative;
}

.homes__column {
    width: 25%;
    margin: 0 16px 0 0;
}

.homes__column:nth-child(4) {
    margin: 0;
}

.homes__column > img {
    display: block;
    width: 100%;
}

.homes__text {
    margin: 24px 0 0 0;
    font-size: 24px;
    line-height: 28px;
}

.home-slider {
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%, 0%);
    box-shadow: 0 4px 4px #0000003F;
}

/*------ destinations-section --------*/

.destinations {
    padding: 120px 0;
}

.destinations__title {
    text-align: center;
    margin: 0 0 104px 0;
}

.destinations__buttons {
    background-color: #F3F3F4;
    display: inline-block;
    border-radius: 8px;
    margin: 0 0 64px 0;
}

.destinations__button {
    min-width: 192px;
    font-size: 24px;
    line-height: 28px;
    padding: 17px 52px;
    border-radius: 8px;
    float: left;
}

.destinations__button:last-child {
    padding: 17px 25px;
}

.destinations__button:nth-child(1) {
    background-color: #3077C6;
    color: #FFFFFF;
}

.destinations__body {
    display: flex;
    margin: 0 0 48px 0;
}

.destinations__column {
    width: 25%;
}

.destinations__column:not(:last-child) {
    margin: 0 16px 0 0;
}

.destinations__column img {
    display: block;
    width: 100%;
}

.reservation-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 13px 24px;
    background-color: #FFFFFF;
    border: 1px solid #3077C6;
    border-radius: 8px;
    font-size: 18px;
    z-index: 2;
}

.destinations__text {
    font-size: 24px;
    margin: 24px 0 0 0;
}

.destinations-slider {
    transform: rotate(90deg);
    box-shadow: 4px 0 4px #0000003F;
}

/*------ footer --------*/

.footer {
    padding: 120px 0;
    background-color: #10367C;
}

.footer__body {
    display: flex;
    margin: 0 0 64px 0;
}

.footer__column {
    width: 33.3%;
}

.footer__column:not(:last-child) {
    margin: 0 16px 0 0;
}

.footer__column a {
    color:#FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

.footer__column li:not(:last-child) {
    margin: 0 0 24px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 14px;
}


