@import "fonts.css";

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*------ reset styles -------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:none;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

input:focus {outline: 0;}

/*------ main settings ------------*/

._bounding-container {
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

._image-container {
    position: relative;
}

._slider-container {
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #F3F3F4;
    border-radius: 50%;
    transition: .5s ease;
}

.slider:hover {
    background-color: #e0e0e5;
}

/*------ modifiers --------*/

.-bold-text {
    font-weight: 500;
}

.-blue-text {
    color: #3077C6;
}

.-gray-text {
    color: #BFBFBF;
}

.-blackout {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
    opacity: 0;
}

.-blackout:hover {
    opacity: 1;
}

/*------ header --------*/

.header {
    min-height: 100vh;
    width: 100%;
    background: url("../img/top/castelmezzano.png") center no-repeat;
    background-size: cover;
    padding-top: 51px;
    padding-bottom: 120px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 196px;
}

.header__menu {
    display: flex;
}

.menu__text {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
}

.menu__text a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 24px;
}

.menu__link {
    position: relative;
}

.menu__link:after {
    display: none;
    position: absolute;
    left: 8%;
    bottom: -32%;
    content: '';
    width: 85%;
    height: 4px;
    background-color: #F5BD41;
}

.menu__link:hover:after {
    display: block;
}

.menu__icons {
    display: flex;
    align-items: center;
}

.menu__icons a {
    margin-left: 24px;
}

/*------ top --------*/

.top__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 145px;
}

.top__form {
    position: relative;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 120px;
}

.city-field {
    max-height: 64px;
    position: relative;
    background-color: #FFFFFF;
    border: 3px solid #F3F3F4;;
    border-radius: 8px;
}

.city-label {
    position: absolute;
    top: -82%;
    left: 1.6%;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.city-input {
    padding: 19px 24px;
    border-radius: 8px;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    max-height: 64px;
    position: absolute;
    top: 0;
    right: 0;
}

.calendar:before {
    content: 'Check-in — Check-out';
    color: #FFFFFF;
    position: absolute;
    top: -70%;
    left: 3.5%;
}

.calendar, .adults {
    color: #383838;
    padding: 21px 24px;
    border: 3px solid rgba(245, 189, 65, 0);
    border-radius: 8px;
    cursor: pointer;
}

.calendar:hover, .adults:hover {
    border: 3px solid rgba(245, 189, 65, 100);
}

.search-button {
    padding: 21px 57px;
    background-color: #3077C6;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 24px;
    line-height: 28px;
    transition: .5s ease;
}

.search-button:hover {
    background-color: #1a5ca6;
}

.top__apps {
    width: 271px;
    height: 40px;
    margin: 0 auto;
}

.top__apps a {
    display: block;
    float: left;
}

.top__apps a:not(:last-child) {
    margin-right: 16px;
}

/*------ advantages-section --------*/

.advantages {
    padding: 120px 0;
}

.advantages__header {
   text-align: center;
    margin-bottom: 80px;
}

.advantages__title {
    margin-bottom: 20px;
}

.advantages__orange-line {
    width: 100px;
    height: 4px;
    margin: 0 auto;
    background-color:#F5BD41;
}

.advantages__body {
    display: flex;
    justify-content: center;
}

.advantages__column {
    text-align: center;
    width: 25%;
}

.advantages__column:not(:last-child) {
    margin-right: 16px;
}

.advantages__text {
    font-size: 24px;
    line-height: 28px;
    margin-top: 44px;
}

/*------ homes-section --------*/

.homes {
    padding: 120px 0;
    background-color: #EAF0F9;
}

.homes__title {
    text-align: center;
    margin-bottom: 106px;
}

.homes__body {
    display: flex;
    position: relative;
}

.homes__column {
    width: 25%;
    margin-right: 16px;
}

.homes__column:nth-child(4) {
    margin: 0;
}

.homes__column > img {
    display: block;
    width: 100%;
}

.homes__text {
    margin-top: 24px;
    font-size: 24px;
    line-height: 28px;
}

.home-slider {
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%, 0%);
    box-shadow: 0 4px 4px #0000003F;
}

/*------ destinations-section --------*/

.destinations {
    padding: 120px 0;
}

.destinations__title {
    text-align: center;
    margin-bottom: 104px;
}

.destinations__buttons {
    background-color: #F3F3F4;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 64px;
}

.destinations__button {
    min-width: 192px;
    font-size: 24px;
    line-height: 28px;
    padding: 17px 52px;
    border-radius: 8px;
    float: left;
    transition: .5s ease;
}

.destinations__button:not(:first-child):hover {
    background-color: #e0e0e5;
}

.destinations__button:last-child {
    padding: 17px 25px;
}

.destinations__button:first-child {
    background-color: #3077C6;
    color: #FFFFFF;
}

.destinations__button:first-child:hover {
    background-color: #1a5ca6;
}

.destinations__body {
    display: flex;
    margin-bottom: 48px;
}

.destinations__column {
    width: 25%;
}

.destinations__column:not(:last-child) {
    margin-right: 16px;
}

.destinations__column img {
    display: block;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.destinations__column img:hover {
    opacity: 0.3;
}

.reservation-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 13px 24px;
    background-color: #FFFFFF;
    border: 1px solid #3077C6;
    border-radius: 8px;
    font-size: 18px;
    transition: .5s ease;
}

.reservation-button:hover {
    background-color: #3077C6;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.destinations__text {
    font-size: 24px;
    margin-top: 24px;
}

.destinations-slider {
    transform: rotate(90deg);
    box-shadow: 4px 0 4px #0000003F;
}

/*------ footer --------*/

.footer {
    padding: 120px 0;
    background-color: #10367C;
}

.footer__body {
    display: flex;
    margin-bottom: 64px;
}

.footer__column {
    width: 33.3%;
}

.footer__column:not(:last-child) {
    margin-right: 16px;
}

.footer__column a {
    color:#FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

.footer__column li:not(:last-child) {
    margin-bottom: 24px;
}

.copyright {
    color: #FFFFFF;
    font-size: 14px;
}