/*------ reset styles -------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:none;
}

/*------ main settings ------------*/

* {
    font-family: 'Roboto', sans-serif;
}

._bounding-container {
    padding: 0 105px;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #F3F3F4;
    border-radius: 50%;
    box-shadow: 0 4px 4px #0000003F;
}

/*------ modifiers --------*/

.-blue-text {
    color: #3077C6;
}

.-gray-text {
    color: #BFBFBF;
}

/*------ advantages-section --------*/

.advantages {
    padding: 120px 0;
}

.advantages__header {
   text-align: center;
   margin: 0 0 80px 0;
}

.advantages__title {
    margin: 0 0 20px 0;
}

.advantages__orange-line {
    width: 100px;
    height: 4px;
    margin: 0 auto;
    background-color:#F5BD41;
}

.advantages__body {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.advantages__column {
    text-align: center;
}

.advantages__text {
    font-size: 24px;
    line-height: 28px;
    margin: 50px 0 0 0;
}

/*------ homes-section --------*/

.homes {
    padding: 120px 0;
    background-color: #EAF0F9;
}

.homes__title {
    text-align: center;
    margin: 0 0 105px 0;
}

.homes__body {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.homes__column {
    max-width: 296px;
}
/* Задал ширину, потому-что в макете картинки немного разного размера */
.homes__column > img {
    width: 296px;
}

.homes__text {
    margin: 25px 0 0 0;
    font-size: 24px;
    line-height: 28px;
}

.home-slider {
    position: absolute;
    top: 125px;
    right: -20px;
}

